  .form {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 32px;
  }
  
  .form-input {
    box-sizing: border-box;
    width: 290px;
    height: 45px;
    border: 1px solid #5e7688;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding: 8px 16px;
    margin-top: 16px;
    transition: border 250ms ease-in-out;
}
  
    .form-input:hover {
      border: 1px solid #5e4489;
    }
  
    .form-input:focus {
      border: 1px solid #5e4489;
      outline: transparent;
    }
  
  .form-button {
    padding: 8px 16px;
    height: 45px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: #5e4489;
    transition: background-color 250ms ease-in-out;
}
  
    .form-button:hover {
      background-color: #8962c9;
    }
  
  .gallery {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  
  .gallery-item {
    width: 350px;
    border: 1px solid #2e2f42;
  }
  
  .gallery-link {
    display: block;
  }
  
  .gallery-img {
    display: block;
    width: 100%;
    height: 160px;
  }
  
  .img-desc-box {
    display: flex;
    flex-direction: column;
  }
  
  .img-desc {
    display: flex;
    padding: 4px 0;
    height: 40px;
    flex-direction: column;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #2e2f42;
  }
  
  .desc-title {
    font-weight: 600;
    line-height: 1.33333;
  }
  
  .desc-text {
    line-height: 2;
  }
  
  .loader-box {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    gap: 20px;
    visibility: hidden;
    pointer-events: none;
  }
  
  .loader-box.is-visible {
    visibility: visible;
    pointer-events: auto;
  }
  .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: repeating-conic-gradient(#000 0 90deg,#ccc 0 180deg);
    animation: l21 1s infinite linear;
  }
  @keyframes l21 {
    100% {transform: rotate(.5turn)}
  }